<p id="notice"><%= notice %></p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@trip.picture_url, :width => 200) if @trip.picture.present? %>
</p>

<p>
  <strong>Start:</strong>
  <%= @trip.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @trip.end %>
</p>

<p>
  <strong>Location:</strong>
  <%= @trip.location %>
</p>

<p>
  <strong>Ocation:</strong>
  <%= @trip.ocation %>
</p>

<p>
  <strong>Travellor:</strong>
  <%= @trip.travellor %>
</p>

<p>
  <strong>Details:</strong>
  <%= @trip.details %>
</p>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
